<h3>Список курсов</h3>
<%= form_for :course, url: course_path(request), method: :get do |f| %>
  <%= link_to 'Показать все', params.merge(sort: 'by_name').permit(:sort),
              class: 'btn' if params[:sort] == 'by_date' %>

  <%= link_to 'Показать те, на которые можно записаться',
              params.merge(sort: 'by_date').permit(:sort),
              class: 'btn' unless params[:sort] == 'by_date' %>

  <% @courses.each do |course| %>
    <hr />
    <p><%= link_to course.name, {action: "show", id: course.id} %>
      <% if course.new_group %>
      <p><%= "Начало ближайших занятий: #{course.new_group.start_date&.to_date}" %>
      <p><%= "Число записавшихся студентов: #{course.new_group.all_students&.count}"%>
    <% else %>
      <p><%= 'Следите за новостями!' %>
    <% end %>
  <% end %>
<% end %>